<launch>
	<!-- load params from config file -->
	<rosparam command="load" ns="local_costmap" file="$(find local_costmap)/config/config.yaml" />

	<!-- Launches zed_wrapper, VGA resolution (1280x480) -->
	<include file="$(find zed_wrapper)/launch/zed.launch"></include>

	<!-- greenCam node -->
	<node name="greenCam" pkg="local_costmap" type="greenCam.py" output="screen"/>

</launch>
