<launch>
  <!-- Run gmapping on the car. -->

  <arg name="mapradius" default="100" />

  <!-- Run the slam_gmapping alg real fast. -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        args="scan:=/scan">
    <param name="~map_update_interval" value="0.1" />
    <param name="~xmin" value="-$(arg mapradius)" />
    <param name="~ymin" value="-$(arg mapradius)" />
    <param name="~xmax" value="$(arg mapradius)" />
    <param name="~ymax" value="$(arg mapradius)" />
    <param name="~delta" value="0.1" />
    <param name="~particles" value="30" />
    <param name="~minimumScore" value="1" />
  </node>
</launch>
