<launch>

  <arg name="mapradius" default="100" />
  <arg name="bagfile" default="$(env HOME)/bags/2016-03-10-02-41-07-lasercorner-ntf.orig.bag" />

  <!-- Playback from a rosbag. Note this does not loop. -->
  <node pkg="rosbag" type="play" name="play"
        args="$(arg bagfile)"/>

  <!-- Run the scan through the clipper to get rid of junk angles. -->
  <node pkg="slammer" type="scan_clipper.py" name="scan_clipper" />

  <!-- Run the slam_gmapping alg real fast. -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        args="scan:=/racecar/laser/scan">
    <param name="~map_update_interval" value="0.1" />
    <param name="~xmin" value="-$(arg mapradius)" />
    <param name="~ymin" value="-$(arg mapradius)" />
    <param name="~xmax" value="$(arg mapradius)" />
    <param name="~ymax" value="$(arg mapradius)" />
    <param name="~delta" value="0.06" />
    <param name="~particles" value="15" />
    <param name="~minimumScore" value="50" />
  </node>

</launch>
