<launch>

  <arg name="mapradius" default="100" />

  <!-- Playback from a rosbag. Note this does not loop. -->
  <node pkg="rosbag" type="play" name="play"
        args="$(env HOME)/bags/2016-03-10-02-41-07-lasercorner-ntf.orig.bag" />

  <!-- Run the slam_gmapping alg real fast. -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        args="scan:=/scan">
    <param name="~scan" value="foobar" />
    <param name="~map_update_interval" value="0.1" />
    <param name="~xmin" value="-$(arg mapradius)" />
    <param name="~ymin" value="-$(arg mapradius)" />
    <param name="~xmax" value="$(arg mapradius)" />
    <param name="~ymax" value="$(arg mapradius)" />
    <param name="~delta" value="0.06" />
  </node>

</launch>
