<launch>
	<param name="log_level" value="INFO"/>
	<arg name="map" default="$(find localization)/maps/synthetic.map.yaml" />

	<include file="$(find localization)/launch/map_server.launch">
	    <arg name="map" value="$(arg map)" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="hokuyo_link_broadcaster"
		args="0 0 0 0 0 0 1 /base_link /hokuyo_link 100" />

	<!-- Run the scan through the clipper to get rid of junk angles. -->
	<!-- <node pkg="slammer" type="scan_clipper.py" name="scan_clipper" /> -->

	<node name="localizer" pkg="localization" type="particle_filter.py" output="screen">
	  <!-- <param name="~scan" value="/scan_clipped" /> -->
	</node>
</launch>
