<launch>
	<param name="log_level" value="INFO"/>
	<arg name="bagfile" default="$(env HOME)/bags/simple2.bag --rate=0.5" />
	<arg name="map" default="$(find localization)/maps/labhall.map.yaml" />
	<!-- Playback from a rosbag. Note this does not loop. -->
	<node pkg="rosbag" type="play" name="play" args="--clock $(arg bagfile)"/>

	<include file="$(find localization)/launch/localize.launch">
	    <arg name="map" value="$(arg map)" />
	</include>
</launch>
